body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}
.block1{
    width: 25%;
    height: 100%;
    background-color: orange;
}
.block2{
    width: 25%;
    height: 100%;
    background-color: rgb(0, 255, 68);
}
.block3{
    width: 25%;
    height: 100%;
    background-color: rgb(255, 0, 0);
}
.block4{
    width: 25%;
    height: 100%;
    background-color: rgb(0, 119, 255);
}
.block1 li{
    background-color: #ffffff;
    line-height: 2em;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 3em;
    width: 60%;
    height: 50px;
    list-style-type: square;
    list-style-position:inside ;
    list-style-type: "\1f44D";
}
.block1 li:hover{
    color:white;
list-style-type: "\274C";
width: 70%;
height: 70px;
background: radial-gradient(circle at right, #f42424, #fff700);
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    width: 100%;
    font-size: 20px;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
    
}
.nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    float: left;

    
}


 .nav a:hover{ */
    background-color: brown;
    color: black;
} 
.nav{
    position: sticky;
    top: 0;
}
.кнопка{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: aquamarine;
}
.knop{
    color: azure;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0px 0px 100px black;
}
.knop:hover{
    background-color: rgb(247, 0, 0);
}
.search{
    float:right;
    right: 150%;
}
.nav1{
     float: right;
     right: 50%;
}